@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body{
    margin: 0;
}

.container{
    width: 90%;
    margin: 10px 5%;
    overflow: hidden;
    display: block;
}

.container img{
    display: inline;
    max-width: 60px;
    height: auto;
}

.container h1{
    display: inline;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 50px
}

.container h3{
    margin: 2px 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #373867;
}

.container #logo{
    width: 20%;
    display: inline-block;
}

#main-header{
    background: rgb(83,158,125);
    background: linear-gradient(180deg, rgba(83,158,125,1) 58%, rgba(255,255,255,0) 100%);
    color: white;
    padding: 1%;
    position: fixed;
    z-index: 50;
    width: 100%;
    display: block;
}

#navbar{
    width: 78%;
    display: inline-block;
    text-align: right;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display:inline;
}

#navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-left: 20px;
}

#navbar ul li a:hover{
    color: #000000;
    }
    
    #navbar ul li a:active{
    color: #000000;
    }

main{
    width: 100%;
    margin-top: 150px;
}

section{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

main section *{
    text-align: center;
}

h4 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin: 5%;
    margin-top: 3%
}

#our-job {
    max-width: 762px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#our-job p{
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.textourjob {
    width: 98%;
    display: inline-block;
    margin: 1%;
    box-sizing: border-box;
}   

.web-picture {
    width: 10%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
}

.ourjobbox {
    border: 2px solid #aace9b;
    background-color: #aace9b;
    position:relative;
    z-index: 20;
}

#functionalities {
    max-width: 1200px;
}

#functionalities h3{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.func {
    width: 17%;
    min-height: 188px;
    float: left;
    border: 1% solid #aace9b;
    background-color: #aace9b;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    vertical-align: top;
    margin: 0 4%;
    background: rgb(83,158,125);
    background: linear-gradient(180deg, rgba(83,158,125,1) 65%, rgba(255,255,255,0) 100%);
}

.func a{
    display: block;
    margin-top: 75px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.func2 a{
    margin-top: 58px;
}

#functionalities::after {
    content: "";
    display: block;
    clear: both;
 }

#choosetrackgenix {
    max-width: 785px;
    display: block;
    margin-top: 80px;
}

#choosetrackgenix h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.ctbox {
    border: 1% solid #aace9b;
    background-color: #aace9b;
    padding: 10px 33px;

}

#choosetrackgenix p, #choosetrackgenix li{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
}



#who-we-are {
    max-width: 1200px;
}

#who-we-are h3{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
}

#who-we-are p{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.wbox {
    border: 1% solid #aace9b;
    background-color: #aace9b;
    padding: 5px 33px;
}

footer {
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
}

